In [27]:
import numpy as np
import pandas as pd

data = "fulltimeSD.csv"
source = pd.read_csv(data)

source.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     414 non-null    object
 1   company      414 non-null    object
 2   description  414 non-null    object
 3   numreview    325 non-null    object
 4   location     414 non-null    object
dtypes: object(5)
memory usage: 16.3+ KB

In [28]:
source.head()

,position,company,description,numreview,location
0,Experimental Design and Statistical Analysis S...,SDSU Research Foundation,"<span id=""job_summary"" class=""summary""><div><h...",20 reviews,"San Diego, CA"
1,Computational Biologist/Bioinformatics Position,La Jolla Institute for Allergy and Immunology,"<span id=""job_summary"" class=""summary"">A posit...",10 reviews,"San Diego, CA"
2,Machine Learning - Software Engineer / Scientist,Brain Corporation,"<span id=""job_summary"" class=""summary""><div><p...",NaN,"San Diego, CA"
3,Business Intelligence Specialist,"Facility Management Planners, Inc","<span id=""job_summary"" class=""summary""><p>At F...",NaN,"San Diego, CA 92109"
4,Translational Scientist,Viome,"<span id=""job_summary"" class=""summary"">Viome i...",NaN,"San Diego, CA"

In [29]:
source.set_index("company", inplace=True)

In [30]:
source.head()

,position,description,numreview,location
company,,,,
SDSU Research Foundation,Experimental Design and Statistical Analysis S...,"<span id=""job_summary"" class=""summary""><div><h...",20 reviews,"San Diego, CA"
La Jolla Institute for Allergy and Immunology,Computational Biologist/Bioinformatics Position,"<span id=""job_summary"" class=""summary"">A posit...",10 reviews,"San Diego, CA"
Brain Corporation,Machine Learning - Software Engineer / Scientist,"<span id=""job_summary"" class=""summary""><div><p...",NaN,"San Diego, CA"
"Facility Management Planners, Inc",Business Intelligence Specialist,"<span id=""job_summary"" class=""summary""><p>At F...",NaN,"San Diego, CA 92109"
Viome,Translational Scientist,"<span id=""job_summary"" class=""summary"">Viome i...",NaN,"San Diego, CA"

In [31]:
source.loc['Viome']

position                                 Translational Scientist
description    <span id="job_summary" class="summary">Viome i...
numreview                                                    NaN
location                                           San Diego, CA
Name: Viome, dtype: object

In [35]:
source['position'].value_counts()

Data Scientist                                                                        12
Scientist                                                                              5
Bioinformatics Scientist                                                               5
Mechanical Design Engineer                                                             3
Machine Learning Architect                                                             3
                                                                                      ..
Quality Assurance Director Aquatic Toxicology                                          1
Analytical Chemistry Scientist                                                         1
Senior Laser/Optical Sytems Scientist                                                  1
Principal Scientist â€“ Peptide Chemist, Peptide Synthesis Chemistry - San Diego, CA     1
Principal Scientist, Drug Discovery Project Leader - Immunology - San Diego, CA        1
Name: position, Length: 367, dtype: int64