In [41]:
import numpy as np
import pandas as pd

data = "fulltimeSD.csv"
source = pd.read_csv(data)

source.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     414 non-null    object
 1   company      414 non-null    object
 2   description  414 non-null    object
 3   numreview    325 non-null    object
 4   location     414 non-null    object
dtypes: object(5)
memory usage: 16.3+ KB

In [42]:
source.head()

,position,company,description,numreview,location
0,Experimental Design and Statistical Analysis S...,SDSU Research Foundation,"<span id=""job_summary"" class=""summary""><div><h...",20 reviews,"San Diego, CA"
1,Computational Biologist/Bioinformatics Position,La Jolla Institute for Allergy and Immunology,"<span id=""job_summary"" class=""summary"">A posit...",10 reviews,"San Diego, CA"
2,Machine Learning - Software Engineer / Scientist,Brain Corporation,"<span id=""job_summary"" class=""summary""><div><p...",NaN,"San Diego, CA"
3,Business Intelligence Specialist,"Facility Management Planners, Inc","<span id=""job_summary"" class=""summary""><p>At F...",NaN,"San Diego, CA 92109"
4,Translational Scientist,Viome,"<span id=""job_summary"" class=""summary"">Viome i...",NaN,"San Diego, CA"

In [43]:
newIndex = source.set_index("company", inplace=False)

In [45]:
newIndex.loc['Viome']

position                                 Translational Scientist
description    <span id="job_summary" class="summary">Viome i...
numreview                                                    NaN
location                                           San Diego, CA
Name: Viome, dtype: object

In [47]:
viome = newIndex.loc[['Viome']]

In [48]:
viome

,position,description,numreview,location
company,,,,
Viome,Translational Scientist,"<span id=""job_summary"" class=""summary"">Viome i...",NaN,"San Diego, CA"

In [49]:
viome.transpose()

company                                                  Viome
position                               Translational Scientist
description  <span id="job_summary" class="summary">Viome i...
numreview                                                  NaN
location                                         San Diego, CA

In [50]:
source['company'].value_counts()

Cymer                            32
Illumina                         25
Celgene Corporation              15
ASML                             12
UC San Diego                     11
                                 ..
Systems Planning and Analysis     1
Syndicus Inc                      1
Streamlyne                        1
RTI International                 1
Arcturus Therapeutics             1
Name: company, Length: 176, dtype: int64

In [51]:
Cymer = newIndex.loc[['Cymer']]
Cymer

,position,description,numreview,location
company,,,,
Cymer,Sr Automation and Machine Damage Control Engineer,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Light Source Research Data Analyst,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Sr Data Analyst,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Discharge Chamber Scientist,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Staff Discharge Chamber Scientist,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,"Sr Mechanical Engineer, Tooling","<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Mechanical Design Engineer,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Lead Tooling Engineer,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,"Manager, Mechanical Engineering","<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Sr Software Engineer,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Staff Automation and Control Architect,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Staff Software Engineer/Architect,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Sr Opto-Mechanical Engineer,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Sr Mechanical Engineer,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Principal Systems Design Functional Architect,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Sr Mechanical Design Engineer,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,"Lead Mechanical Engineer, Tooling","<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Staff Controls Engineer,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Sr. Algorithms Engineer,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,System Test Engineer,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Staff Software Architect,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Staff System Performance Engineer,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,"Manager, Systems Design","<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Software Engineer,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Software Manager,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Principal Functional Architect,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,System Performance Engineer,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Staff Software Engineer,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Upgrade Integrator,"<span id=""job_summary"" class=""summary""><div>AS...",52 reviews,"San Diego, CA"
Cymer,Senior Laser/Optical Systems Scientist,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,"Director, Systems Design","<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"
Cymer,Optical Engineer,"<span id=""job_summary"" class=""summary""><div><d...",52 reviews,"San Diego, CA"

In [52]:
Cymer.transpose()

company,Cymer,Cymer,Cymer,Cymer,Cymer,Cymer,Cymer,Cymer,Cymer,Cymer,...,Cymer,Cymer,Cymer,Cymer,Cymer,Cymer,Cymer,Cymer,Cymer,Cymer
position,Sr Automation and Machine Damage Control Engineer,Light Source Research Data Analyst,Sr Data Analyst,Discharge Chamber Scientist,Staff Discharge Chamber Scientist,"Sr Mechanical Engineer, Tooling",Mechanical Design Engineer,Lead Tooling Engineer,"Manager, Mechanical Engineering",Sr Software Engineer,...,"Manager, Systems Design",Software Engineer,Software Manager,Principal Functional Architect,System Performance Engineer,Staff Software Engineer,Upgrade Integrator,Senior Laser/Optical Systems Scientist,"Director, Systems Design",Optical Engineer
description,"<span id=""job_summary"" class=""summary""><div><d...","<span id=""job_summary"" class=""summary""><div><d...","<span id=""job_summary"" class=""summary""><div><d...","<span id=""job_summary"" class=""summary""><div><d...","<span id=""job_summary"" class=""summary""><div><d...","<span id=""job_summary"" class=""summary""><div><d...","<span id=""job_summary"" class=""summary""><div><d...","<span id=""job_summary"" class=""summary""><div><d...","<span id=""job_summary"" class=""summary""><div><d...","<span id=""job_summary"" class=""summary""><div><d...",...,"<span id=""job_summary"" class=""summary""><div><d...","<span id=""job_summary"" class=""summary""><div><d...","<span id=""job_summary"" class=""summary""><div><d...","<span id=""job_summary"" class=""summary""><div><d...","<span id=""job_summary"" class=""summary""><div><d...","<span id=""job_summary"" class=""summary""><div><d...","<span id=""job_summary"" class=""summary""><div>AS...","<span id=""job_summary"" class=""summary""><div><d...","<span id=""job_summary"" class=""summary""><div><d...","<span id=""job_summary"" class=""summary""><div><d..."
numreview,52 reviews,52 reviews,52 reviews,52 reviews,52 reviews,52 reviews,52 reviews,52 reviews,52 reviews,52 reviews,...,52 reviews,52 reviews,52 reviews,52 reviews,52 reviews,52 reviews,52 reviews,52 reviews,52 reviews,52 reviews
location,"San Diego, CA","San Diego, CA","San Diego, CA","San Diego, CA","San Diego, CA","San Diego, CA","San Diego, CA","San Diego, CA","San Diego, CA","San Diego, CA",...,"San Diego, CA","San Diego, CA","San Diego, CA","San Diego, CA","San Diego, CA","San Diego, CA","San Diego, CA","San Diego, CA","San Diego, CA","San Diego, CA"