In [41]:
import numpy as np
import pandas as pd

data = "fulltimeSD.csv"
source = pd.read_csv(data)

source.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     414 non-null    object
 1   company      414 non-null    object
 2   description  414 non-null    object
 3   numreview    325 non-null    object
 4   location     414 non-null    object
dtypes: object(5)
memory usage: 16.3+ KB

In [42]:
source.head()

,position,company,description,numreview,location
0,Experimental Design and Statistical Analysis S...,SDSU Research Foundation,"<span id=""job_summary"" class=""summary""><div><h...",20 reviews,"San Diego, CA"
1,Computational Biologist/Bioinformatics Position,La Jolla Institute for Allergy and Immunology,"<span id=""job_summary"" class=""summary"">A posit...",10 reviews,"San Diego, CA"
2,Machine Learning - Software Engineer / Scientist,Brain Corporation,"<span id=""job_summary"" class=""summary""><div><p...",NaN,"San Diego, CA"
3,Business Intelligence Specialist,"Facility Management Planners, Inc","<span id=""job_summary"" class=""summary""><p>At F...",NaN,"San Diego, CA 92109"
4,Translational Scientist,Viome,"<span id=""job_summary"" class=""summary"">Viome i...",NaN,"San Diego, CA"

In [43]:
newIndex = source.set_index("company", inplace=False)

In [44]:
n.loc['Viome']

KeyError: 'Viome'

In [36]:
viome = source.loc[['Viome']]

In [37]:
viome

,position,description,numreview,location
company,,,,
Viome,Translational Scientist,"<span id=""job_summary"" class=""summary"">Viome i...",NaN,"San Diego, CA"

In [38]:
viome.transpose()

company                                                  Viome
position                               Translational Scientist
description  <span id="job_summary" class="summary">Viome i...
numreview                                                  NaN
location                                         San Diego, CA