In [26]:
import numpy as np
import pandas as pd

datasource = "fulltimeNY.csv"

df = pd.read_csv(datasource)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     986 non-null    object
 1   company      986 non-null    object
 2   description  986 non-null    object
 3   numreview    755 non-null    object
 4   location     986 non-null    object
dtypes: object(5)
memory usage: 38.6+ KB

In [19]:
#print(df['numreview'].isnull().value_counts())
#print("-------")
print(df['numreview'].value_counts())

dfr = df['numreview'] == "1, reviews"
df['numreview'][dfr].value_counts()

705 reviews       76
7 reviews         26
2 reviews         26
8 reviews         26
20,319 reviews    24
                  ..
1,341 reviews      1
32 reviews         1
1,189 reviews      1
307 reviews        1
82 reviews         1
Name: numreview, Length: 190, dtype: int64

Series([], Name: numreview, dtype: int64)

In [23]:
filternull = df["numreview"].isnull()
df[filternull]

dfr = df['company'] == "JP Morgan Chase"
df['company'][dfr].value_counts()

JP Morgan Chase    24
Name: company, dtype: int64

In [30]:
df['numreview'].fillna("1999 reviews", inplace=True)

In [51]:
pd.set_option('display.max.rows',None)

dfr = df['numreview'] == "1999 reviews"
df['numreview'].value_counts()

1999 reviews      231
705 reviews        76
7 reviews          26
2 reviews          26
8 reviews          26
20,319 reviews     24
5 reviews          19
4 reviews          19
4,491 reviews      17
3 reviews          17
749 reviews        15
33 reviews         14
25,883 reviews     13
366 reviews        11
456 reviews        10
1,148 reviews      10
385 reviews        10
1,029 reviews      10
12 reviews          9
6 reviews           9
151 reviews         9
40 reviews          8
1,677 reviews       8
9 reviews           8
2,473 reviews       8
15 reviews          7
703 reviews         7
6,318 reviews       7
605 reviews         7
699 reviews         6
143 reviews         6
30 reviews          6
92 reviews          6
19 reviews          6
13 reviews          6
21,942 reviews      6
108 reviews         6
10 reviews          6
70 reviews          5
586 reviews         4
2,694 reviews       4
11 reviews          4
61 reviews          4
3,371 reviews       4
65 reviews          4
14,088 reviews      4
16 reviews          4
2,611 reviews       4
29 reviews          4
639 reviews         4
208 reviews         3
1,574 reviews       3
22,249 reviews      3
31 reviews          3
1,918 reviews       3
831 reviews         3
84 reviews          3
5,653 reviews       3
5,718 reviews       3
1,107 reviews       3
492 reviews         3
22 reviews          3
2,010 reviews       3
36 reviews          3
4,611 reviews       3
333 reviews         3
25 reviews          3
159 reviews         3
164 reviews         3
194 reviews         3
28 reviews          2
368 reviews         2
64 reviews          2
262 reviews         2
56 reviews          2
6,054 reviews       2
57 reviews          2
896 reviews         2
23 reviews          2
2,166 reviews       2
111 reviews         2
933 reviews         2
59 reviews          2
459 reviews         2
30,064 reviews      2
155 reviews         2
332 reviews         2
19,883 reviews      2
752 reviews         2
39 reviews          2
10,123 reviews      2
3,372 reviews       2
210 reviews         2
197 reviews         2
816 reviews         2
2,986 reviews       2
269 reviews         2
4,677 reviews       2
254 reviews         2
217 reviews         2
98 reviews          2
537 reviews         2
2,763 reviews       2
3,973 reviews       2
165 reviews         2
760 reviews         2
133 reviews         2
198 reviews         2
24 reviews          2
272 reviews         2
18 reviews          2
101 reviews         1
20 reviews          1
182 reviews         1
150 reviews         1
1,516 reviews       1
116 reviews         1
115 reviews         1
476 reviews         1
10,001 reviews      1
99 reviews          1
52 reviews          1
1,744 reviews       1
44 reviews          1
241 reviews         1
259 reviews         1
11,607 reviews      1
199 reviews         1
1,546 reviews       1
410 reviews         1
114 reviews         1
899 reviews         1
645 reviews         1
1,391 reviews       1
2,058 reviews       1
42 reviews          1
17 reviews          1
391 reviews         1
45 reviews          1
75 reviews          1
220 reviews         1
335 reviews         1
106 reviews         1
2,409 reviews       1
400 reviews         1
14,198 reviews      1
1,293 reviews       1
2,203 reviews       1
458 reviews         1
107 reviews         1
96 reviews          1
26 reviews          1
10,251 reviews      1
178 reviews         1
152 reviews         1
48 reviews          1
441 reviews         1
83 reviews          1
90 reviews          1
2,828 reviews       1
105 reviews         1
893 reviews         1
337 reviews         1
1,984 reviews       1
1,785 reviews       1
124 reviews         1
5,645 reviews       1
47 reviews          1
94 reviews          1
239 reviews         1
638 reviews         1
43 reviews          1
1,958 reviews       1
91 reviews          1
723 reviews         1
462 reviews         1
2,210 reviews       1
74 reviews          1
2,740 reviews       1
1,194 reviews       1
14 reviews          1
304 reviews         1
140 reviews         1
438 reviews         1
418 reviews         1
32 reviews          1
129 reviews         1
1,341 reviews       1
1,189 reviews       1
307 reviews         1
82 reviews          1
Name: numreview, dtype: int64

In [52]:
df.describe()
df.head(100)

,position,company,description,numreview,location
0,Data Scientist—Research (Ref # EXEC/RD_DAT_NYC...,New York State Office of the Attorney General ...,"<span id=""job_summary"" class=""summary""><p><b>E...",1999 reviews,"New York, NY"
1,Data Scientist/Pre Sales Engineer,Celonis,"<span id=""job_summary"" class=""summary""><p>Celo...",1999 reviews,"New York, NY"
2,Data Analyst/Research Scientist,Columbia University Medical Center,"<span id=""job_summary"" class=""summary""><p>We a...",217 reviews,"New York, NY 10032"
3,Data Scientist,fractalanalytics,"<span id=""job_summary"" class=""summary""><div><p...",1999 reviews,"Jersey City, NJ"
4,Data Scientist,Blackboard Insurance,"<span id=""job_summary"" class=""summary""><div><p...",1999 reviews,"New York, NY"
5,Data Analyst / Data Scientist,Defined Clarity,"<span id=""job_summary"" class=""summary""><div><p...",1999 reviews,"New York, NY"
6,Staff Data Scientist,Foursquare,"<span id=""job_summary"" class=""summary""><b>Abou...",7 reviews,"New York, NY"
7,Clinical Data Assistant - IPC,NYU Langone Health,"<span id=""job_summary"" class=""summary"">NYU Lan...",705 reviews,"New York, NY 10016"
8,Data Analytics Specialist,DEPARTMENT OF CITY PLANNING,"<span id=""job_summary"" class=""summary"">THE AGE...",1999 reviews,"Manhattan, NY"
9,"Data Scientist, Supply Chain Analytics",HelloFresh,"<span id=""job_summary"" class=""summary"">Come se...",208 reviews,"New York, NY"
10,"Data Scientist, Analytics",Freshly,"<span id=""job_summary"" class=""summary""><div><d...",7 reviews,"New York, NY"
11,Statistical Analyst/Data Scientist (Machine Le...,Medidata Solutions,"<span id=""job_summary"" class=""summary""><div><d...",33 reviews,"New York, NY 10003"
12,Data Visualization Data Scientist,Capital One,"<span id=""job_summary"" class=""summary""><div>11...","6,318 reviews","New York, NY 10261"
13,Data Scientist,Prudential,"<span id=""job_summary"" class=""summary""><div><d...","2,010 reviews","Newark, NJ"
14,Data Scientist (Data Science Team),OppenheimerFunds,"<span id=""job_summary"" class=""summary""><div>Jo...",40 reviews,"New York, NY"
15,Data Scientist,"J.Crew Group, Inc.","<span id=""job_summary"" class=""summary""><b>Titl...",760 reviews,"New York, NY 10003"
16,Quantitative Analyst Developer,Axioma Inc.,"<span id=""job_summary"" class=""summary""><div><h...",1999 reviews,"New York, NY"
17,Image Processing Scientist,"Topcon Medical Systems, Inc.","<span id=""job_summary"" class=""summary""><div><d...",1999 reviews,"Oakland, NJ"
18,Sales Engineer,Gro Intelligence,"<span id=""job_summary"" class=""summary""><b>Abou...",1999 reviews,"New York, NY 10001"
19,"Senior Evaluation Coordinator, New York City T...",DEPT OF HEALTH/MENTAL HYGIENE,"<span id=""job_summary"" class=""summary"">The Cen...",8 reviews,"Bronx, NY"
20,"Director, Data Science",Capital One,"<span id=""job_summary"" class=""summary""><div>11...","6,318 reviews","New York, NY 10261"
21,Clinical Trial Research Analyst,Memorial Sloan Kettering,"<span id=""job_summary"" class=""summary""><div><d...",703 reviews,"New York, NY"
22,Data Scientist,Sweeten,"<span id=""job_summary"" class=""summary""><div><p...",1999 reviews,"New York, NY"
23,Data Scientist,"Edison Software, Inc.","<span id=""job_summary"" class=""summary"">The Rol...",1999 reviews,"New York, NY"
24,Senior Quantitative Analyst,TD Securities,"<span id=""job_summary"" class=""summary""><div><d...",108 reviews,"New York, NY 10019"
25,"Senior Associate, Data Scientist/Statistics --...",KPMG,"<span id=""job_summary"" class=""summary""><div><p...","4,491 reviews","New York, NY 10154"
26,Data Scientist,Organic,"<span id=""job_summary"" class=""summary""><div><p...",32 reviews,"New York, NY"
27,Senior Research Analyst,New York University,"<span id=""job_summary"" class=""summary""><div><h...",699 reviews,"New York, NY"
28,Grants Manager - LOH,NYU Langone Health,"<span id=""job_summary"" class=""summary"">NYU Lan...",705 reviews,"New York, NY 10003"
29,Jr Data Scientist,Callière Group,"<span id=""job_summary"" class=""summary""><div>We...",1999 reviews,"New York, NY"
30,Machine Learning Data Scientist,Morgan Stanley,"<span id=""job_summary"" class=""summary"">Morgan ...","2,694 reviews","New York, NY"
31,Data Scientist,Northwestern Mutual Life Insurance Company,"<span id=""job_summary"" class=""summary""><div><p...","2,203 reviews","New York, NY 10003"
32,Game Data Scientist,Tilting Point,"<span id=""job_summary"" class=""summary"">Tilting...",1999 reviews,"New York, NY"
33,Data Scientist,Hanweck Associates,"<span id=""job_summary"" class=""summary""><div><p...",1999 reviews,"New York, NY 10004"
34,Data Scientist,Parsec Media,"<span id=""job_summary"" class=""summary""><div><p...",1999 reviews,"New York, NY"
35,Data Scientist - Analytics,DoSomething.org,"<span id=""job_summary"" class=""summary""><div><p...",5 reviews,"New York, NY 10010"
36,Junior Data Scientist,Interactive Brokers,"<span id=""job_summary"" class=""summary""><div><h...",24 reviews,"New York, NY"
37,Data Scientist,Gemological Institute of America,"<span id=""job_summary"" class=""summary""><div><p...",84 reviews,"New York, NY 10065"
38,Data Scientist,Capgemini,"<span id=""job_summary"" class=""summary""><div><p...","5,718 reviews","New York, NY"
39,Data Scientist,Shutterstock,"<span id=""job_summary"" class=""summary""><b>The ...",39 reviews,"New York, NY"
40,Data Scientist,Rauxa,"<span id=""job_summary"" class=""summary""><div><d...",11 reviews,"New York, NY"
41,Data Scientist,S&P Global,"<span id=""job_summary"" class=""summary""><div><p...",605 reviews,"New York, NY"
42,Data Scientist,SQAD LLC,"<span id=""job_summary"" class=""summary""><b>Who ...",1999 reviews,"New York, NY 10022"
43,Data Scientist,Wade & Wendy,"<span id=""job_summary"" class=""summary"">What Is...",1999 reviews,"New York, NY"
44,Data Scientist,Aetna,"<span id=""job_summary"" class=""summary""><div><d...","3,371 reviews","New York, NY 10016"
45,Jr. Data Scientist,NYP/Weill Cornell Medical Center,"<span id=""job_summary"" class=""summary""><div><h...","1,107 reviews","New York, NY"
46,Data Scientist,Rent the Runway,"<span id=""job_summary"" class=""summary""><b>Abou...",64 reviews,"New York, NY"
47,Data Scientist I,Grubhub,"<span id=""job_summary"" class=""summary""><div><h...",262 reviews,"New York, NY"
48,Data Scientist,Verizon,"<span id=""job_summary"" class=""summary""><div><p...","19,883 reviews","New York, NY 10007"
49,Data Scientist,Trialspark,"<span id=""job_summary"" class=""summary"">-------...",1999 reviews,"New York, NY"
50,Applied Data Scientist,Aptus Health,"<span id=""job_summary"" class=""summary""><div><d...",5 reviews,"New York, NY 10020"
51,Customer Data Scientist,Smartly,"<span id=""job_summary"" class=""summary""><div><d...",1999 reviews,"New York, NY"
52,Data Scientist,605,"<span id=""job_summary"" class=""summary""><div><p...",1999 reviews,"New York, NY"
53,Data Scientist,Dirty Lemon Beverages,"<span id=""job_summary"" class=""summary""><div><h...",1999 reviews,"New York, NY"
54,Data Scientist,Thomas Publishing Company LLC,"<span id=""job_summary"" class=""summary""><div><d...",5 reviews,"New York, NY 10001"
55,Data Scientist,New York State Office of the Attorney General,"<span id=""job_summary"" class=""summary""><div><d...",40 reviews,"New York, NY"
56,Data & Applied Scientist,Microsoft,"<span id=""job_summary"" class=""summary""><div><d...","4,611 reviews","New York, NY"
57,Data Scientist,Hearts and Science,"<span id=""job_summary"" class=""summary""><div><d...",1999 reviews,"New York, NY"
58,Data Scientist,National Debt Relief,"<span id=""job_summary"" class=""summary""><p><b>W...",91 reviews,"New York, NY 10004"
59,Data Scientist,Talent & Acquisition LLC,"<span id=""job_summary"" class=""summary"">Data Sc...",1999 reviews,"New York, NY"
60,"Data Scientist, Content Business Analysis",Spotify,"<span id=""job_summary"" class=""summary""><div><p...",33 reviews,"New York, NY 10011"
61,Data Scientist,"Liberty Lending, LLC","<span id=""job_summary"" class=""summary""><p><b>B...",1999 reviews,"New York, NY"
62,Data Scientist,Invesco,"<span id=""job_summary"" class=""summary""><div><d...",272 reviews,"New York, NY 10036"
63,Data Scientist,Custoria,"<span id=""job_summary"" class=""summary""><div><d...",1999 reviews,"New York, NY"
64,"Data Scientist, Modeling Team",Applecart,"<span id=""job_summary"" class=""summary"">Appleca...",1999 reviews,"New York, NY"
65,"Data Scientist, Analytics",Venmo,"<span id=""job_summary"" class=""summary"">About U...",3 reviews,"New York, NY"
66,Data Scientist II,Comcast,"<span id=""job_summary"" class=""summary"">Comcast...","11,607 reviews","New York, NY 10020"
67,Data Scientist,Neuberger Berman,"<span id=""job_summary"" class=""summary""><div><p...",59 reviews,"New York, NY"
68,Data Scientist,Transfix.io,"<span id=""job_summary"" class=""summary""><div><d...",1999 reviews,"New York, NY"
69,Data Scientist,Vettery,"<span id=""job_summary"" class=""summary""><b>Here...",1999 reviews,"New York, NY"
70,Data Scientist,FanDuel,"<span id=""job_summary"" class=""summary"">FanDuel...",10 reviews,"New York, NY"
71,Data Scientist,Datadog,"<span id=""job_summary"" class=""summary"">At Data...",4 reviews,"New York, NY"
72,Research Data Scientist,Stevens Institute of Technology,"<span id=""job_summary"" class=""summary""><div>Pr...",220 reviews,"Hoboken, NJ 07030"
73,Data Scientist (NYC),"Attorney General, Office of the","<span id=""job_summary"" class=""summary""><div><d...",2 reviews,"New York, NY"
74,Data Scientist,Schireson,"<span id=""job_summary"" class=""summary""><b>Who ...",1999 reviews,"New York, NY"
75,"Data Scientist, Customer Operations",Squarespace,"<span id=""job_summary"" class=""summary"">Custome...",19 reviews,"New York, NY 10014"
76,Data Scientist,Komodo Health,"<span id=""job_summary"" class=""summary"">Komodo ...",1999 reviews,"New York, NY"
77,Data Scientist,Integral Ad Science,"<span id=""job_summary"" class=""summary"">We are ...",5 reviews,"New York, NY 10003"
78,Data Scientist,T. Rowe Price,"<span id=""job_summary"" class=""summary""><div><h...",307 reviews,"New York, NY"
79,Data Scientist,"Bombfell, Inc.","<span id=""job_summary"" class=""summary""><div><d...",1999 reviews,"New York, NY"
80,"Data Scientist, Machine Learning & AI",Etsy,"<span id=""job_summary"" class=""summary""><div><d...",31 reviews,"Brooklyn, NY"
81,Policy Analyst (Data Scientist),The University of Chicago,"<span id=""job_summary"" class=""summary""><div><h...",368 reviews,"New York, NY"
82,Data Scientist,Annalect,"<span id=""job_summary"" class=""summary""><div><d...",7 reviews,"New York, NY"
83,Data Scientist,Tapestry,"<span id=""job_summary"" class=""summary""><div><p...",25 reviews,"New York, NY"
84,PMC: Data Scientist,Penske Media Corp.,"<span id=""job_summary"" class=""summary""><div><d...",3 reviews,"New York, NY 10017"
85,Product Data Scientist,Prometheus Global Media,"<span id=""job_summary"" class=""summary""><div><p...",6 reviews,"New York, NY 10173"
86,Data Scientist,Reorg Research,"<span id=""job_summary"" class=""summary""><div><d...",1999 reviews,"New York, NY"
87,Data Scientist,7Park Data,"<span id=""job_summary"" class=""summary""><div><p...",1999 reviews,"New York, NY"
88,Data Scientist - AVP,Citi,"<span id=""job_summary"" class=""summary""><div><u...","14,088 reviews","New York, NY 10261"
89,Data Scientist,Ipsos North America,"<span id=""job_summary"" class=""summary""><div><p...",333 reviews,"New York, NY"
90,Data Scientist,Conde Nast,"<span id=""job_summary"" class=""summary""><div><d...",241 reviews,"New York, NY 10007"
91,"Data Scientist, Markets Research",Spotify,"<span id=""job_summary"" class=""summary""><div><p...",33 reviews,"New York, NY 10011"
92,Data Scientist,Intent Media,"<span id=""job_summary"" class=""summary"">Intent ...",2 reviews,"New York, NY"
93,Data Scientist,ITL USA,"<span id=""job_summary"" class=""summary""><div><b...","10,251 reviews","New York, NY"
94,Staff Data Scientist,Bluecore,"<span id=""job_summary"" class=""summary""><div><d...",3 reviews,"New York, NY 10002"
95,Data Scientist,Morgan Stanley,"<span id=""job_summary"" class=""summary"">Company...","2,694 reviews","New York, NY"
96,Risk Analyst / Data Scientist,Bread Finance,"<span id=""job_summary"" class=""summary"">Bread m...",1999 reviews,"New York, NY"
97,Data Scientist,Alphasights: Engineering,"<span id=""job_summary"" class=""summary"">At Alph...",1999 reviews,"New York, NY"
98,Data Intelligence - Research & Development Sci...,Goldman Sachs,"<span id=""job_summary"" class=""summary""><div><h...","1,148 reviews","New York, NY 10282"
99,Data Scientist,Oath Inc,"<span id=""job_summary"" class=""summary""><div>Oa...",5 reviews,"New York, NY"